{{#primary_author}}
  <article class="media">
    {{#if profile_image}}    
    <figure class="media-left">
      <p class="image is-64x64">
          <img class="is-rounded" src="{{profile_image}}" alt="{{name}}" />
      </p>
    </figure>
    {{/if}}    
    <div class="media-content">
      <div class="content">
        <p>
        <strong>{{name}}</strong>
        <br>{{bio}}</p>
      </div>
    </div>
  </article>
{{/primary_author}}
