<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column has-text-centered">
        <p>&copy; {{date format="YYYY"}} &bull; <strong><a href="{{@site.url}}/">{{@site.title}}</a></strong>
         &bull; <a href="https://bulma.io" target="_blank">
          <img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
        </a></p>  
      </div>      
    </div>
  </div>
</footer>